.contato-dados li {
  font-family: Helvetica, Arial;
  margin-bottom: 1rem;
}

.contato-dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  background: #ffbb55;
  margin-right: 10px;
}
