.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 4rem;

  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
}

body {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
}

.titulo {
  grid-column: 1 / 4;
}

.animais-lista {
  grid-column: 2;
}

.animais-descricao {
  grid-column: 3;
}

.faq-lista {
  grid-column: 2 / 4;
}

.contato-mapa {
  grid-column: 2;
}

.contato-dados {
  grid-column: 3;
}

.copy {
  grid-column: 3 / 5;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }

  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 100px 1fr;
    gap: 10px;
  }

  .animais-lista {
    grid-column: 1;
  }

  .faq-lista,
  .contato-dados,
  .contato-mapa {
    grid-column: 1 / 3;
  }
}
