@import "./reset.css";
@import "./grid.css";
@import "./faq.css";
@import "./contato.css";
@import "./copy.css";

body {
  background: #faf6ee;
  color: #222222;
  -webkit-font-smoothing: antialiased;

  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  background: #ffbb55;

  grid-column: 3 / -1;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menu li a {
  color: #222222;
  text-decoration: none;
  font-family: "IBM Plex Mono";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;

  display: block;
  padding: 10px;
}

.titulo {
  font-family: "Playfair Display SC", Georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 1rem;

  grid-column: 1 / -1;
}

.animais h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: #ee5544;
}

.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  background: #ffbb55;
  margin-right: 10px;
}

.animais p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animais-lista::-webkit-scrollbar {
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background: #ffbb55;
  border-left: 4px solid #faf6ee;
  border-right: 4px solid #faf6ee;
}

.animais-lista::-webkit-scrollbar-track {
  background: #faf6ee;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}
